.cancel-button {
  background: #5b0404;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(250px, 50%, 400px);
  border-radius: 100px;
  font-size: 2rem;
}
