.games-page {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  h1 {
    font-size: 5rem;
  }
  ul {
    margin-top: 3rem;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-top: 3px solid #404385;
      border-bottom: 3px solid #404385;
      margin-top: -3px;
      gap: 2rem;
      h2 {
        background: white;
        color: black;
        border-radius: 15px;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0.5rem;
      }
      h3 {
        padding: 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 15px;
        width: min-content;
      }
      .color {
        background: linear-gradient(
          45deg,
          rgba(255, 0, 0, 1) 0%,
          rgba(255, 154, 0, 1) 10%,
          rgba(208, 222, 33, 1) 20%,
          rgba(79, 220, 74, 1) 30%,
          rgba(63, 218, 216, 1) 40%,
          rgba(47, 201, 226, 1) 50%,
          rgba(28, 127, 238, 1) 60%,
          rgba(95, 21, 242, 1) 70%,
          rgba(186, 12, 248, 1) 80%,
          rgba(251, 7, 217, 1) 90%,
          rgba(255, 0, 0, 1) 100%
        );
        text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      }
      .text-number,
      .custom {
        background-color: #404385;
        text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
      }
    }
  }
  .icon {
    margin-top: 2rem;
    transition: 0.2s all;
    color: rgb(184, 184, 184);
  }
  .icon:hover {
    cursor: pointer;
    color: white;
  }
}
