.new-game-form {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 80%, 300px);
  margin: 0 auto;
  padding: 3rem 0;
  label {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }
  input {
    background: white;
    border-radius: 5px;
    height: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    margin-bottom: 1.5rem !important;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 250px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 2rem;
    margin: 1rem auto;
  }
  .create-button {
    padding: 2.5rem;
    background: #065b04;
  }
  .create-button:hover {
    background: #065b04;
  }
}

::placeholder {
  color: gray !important;
  opacity: 1; /* Firefox */
}
